[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=2.0"
notebook = "~=6.5"
matplotlib = "~=3.7"
numpy = "~=1.24"
yfinance = "==0.2.18"
scipy = "*"
tqdm = "*"

[dev-packages]
black = "~=23.3"
pytest = "~=7.3"

[requires]
python_version = "3.11"
